language: java

jdk:
  - openjdk8

branches:
  only:
    - master

notifications:
  email: false

addons:
  sonarcloud:
    organization: "han-feng-github"
    token:
      secure: $SONAR_CLOUD_TOKEN

cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.sonar/cache"

script:
  - mvn clean package

after_success:
  - mvn coveralls:report
  - mvn sonar:sonar
  - bash <(curl -s https://codecov.io/bash)
