<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<description>Spring Service Configuration</description>

	<bean id="/userService.json" class="com.googlecode.jsonrpc4j.spring.JsonServiceExporter">
		<property name="service" ref="userService" />
		<property name="serviceInterface" value="demos.mybatis.UserService" />
	</bean>

	<bean id="contextDetector" class="demos.druid.ContextDetector" />

</beans>